//main: ./storyform.less

.storyform .biography-field {
  margin-bottom: 14px;

  label {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: @color-accent;
    margin-bottom: 4px;
  }

  input[type="text"] {
    width: 100%;
    font-size: 13px;
    padding: 4px 6px;
    border: 1px solid @color-mid-gold;
    border-radius: @border-radius-sm;
    background: @color-card;
  }

  .editor {
    min-height: 200px;
    border: 1px solid @color-mid-gold;
    border-radius: @border-radius-sm;
    background: @color-card;
  }

  .editor-content {
    padding: 8px;
    min-height: 200px;
  }
}
