//main: ./storyform.less

.storyform .sheet-body,
.storyform .item-body {

  &::-webkit-scrollbar {
    width: 30px;
  }

  &::-webkit-scrollbar-track {
    background: @color-tabs-bar;
  }

  &::-webkit-scrollbar-thumb {
    background: @color-gold;
    border-radius: @border-radius-sm;
  }
}
